In [1]:
import pandas as pd

# Load the data
fake = pd.read_csv("Fake.csv")
real = pd.read_csv("True.csv")

# Add labels: 0 = Fake, 1 = Real
fake['label'] = 0
real['label'] = 1

# Combine and shuffle the data
data = pd.concat([fake, real])
data = data.sample(frac=1).reset_index(drop=True)

# Show the first few rows
data.head()

,title,text,subject,date,label
0,"BRONX HOSPITAL SHOOTING: Multiple People Shot,...",21st Century Wire says Several people have bee...,US_News,"June 30, 2017",0
1,Watchdog sues Trump EPA pick to disclose conta...,WASHINGTON (Reuters) - A media watchdog group ...,politicsNews,"February 7, 2017",1
2,Former George W. Bush Speechwriter Epically B...,This is a HUGE condemnation of the Republican ...,News,"March 17, 2016",0
3,CITY OF CHICAGO Forcing Out Homeless Veterans ...,There is no reason to believe the welfare of o...,politics,"May 15, 2016",0
4,U.S. VP-elect Pence to be sworn in by conserva...,WASHINGTON (Reuters) - Vice President-elect Mi...,politicsNews,"January 12, 2017",1

In [2]:
print(data.columns)
print(data.shape)
data.info()

Index(['title', 'text', 'subject', 'date', 'label'], dtype='object')
(44898, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    44898 non-null  object
 1   text     44898 non-null  object
 2   subject  44898 non-null  object
 3   date     44898 non-null  object
 4   label    44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [3]:
# Check for empty or missing values
print("Missing values:\n", data.isnull().sum())

# Drop rows with missing or empty text
data = data.dropna(subset=['text'])
data = data[data['text'].str.strip() != '']

Missing values:
 title      0
text       0
subject    0
date       0
label      0
dtype: int64